<!DOCTYPE html>
<html>

<head>
    <title>操作结果</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
    <!--ie10以下提示-->
    <p id="ie10Lower" style="display: none;">不支持ie10以下浏览器，安装360、chrome、ie11中的一个后再来试试吧</p>

    <div id="wrapper">
        <div id="panelOut">
            <div id="panel" onselectstart="return false;">
                <div id="titleDiv">
                    <span>操作成功！！！</span>
                </div>
            </div>
        </div>
    </div>

</body>

</html>